body{

    background: linear-gradient(135deg, #70e1f5, #ffd194 100%)
}

#togglePassword {

    background: transparent;
    padding: 0 10px;
}

#togglePassword:hover img {
    opacity: 0.7;
    transition: opacity 0.2s;
}

#eyeIcon {
    cursor: pointer;
  
}

#loginMenu{
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#loginBtn{
    border-radius: 15px;
    transform: scale(1); 
    transition: transform 0.3s ease; 
}


#loginBtn:hover {

  transform: scale(1.05);

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#logo{
    display: block;
    margin: auto;
    width : 20rem;
    padding-right: 1rem;
}

